{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} 鞋宫-服务器错误 {% endblock %}
{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
{% endblock %}

{% block content %}
    <main>

        <!-- breadcrumb-area-start -->
        <section class="breadcrumb-area" data-background="img/bg/page-title.png">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="breadcrumb-text text-center">
                            <h1>503</h1>
                            <ul class="breadcrumb-menu">
                                <li><span>服务器错误，请稍后再试</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- breadcrumb-area-end -->

    </main>
{% endblock %}
